<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Tech Logo challenge</title>
  </head>
  <body class="bg-gray-100 text-gray-800 p-4">
    <div class="max-w-screen-lg mx-auto">

      <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-6">
        <% logos.forEach(function(logo) { %>
        <img class="w-full" src="logos/<%= logo.id %>.svg" />
        <!-- TODO (question 2) Ajouter un champ texte en dessous de chaque logo -->
        <% }) %>
      </div>
      <!-- TODO (question 2) Ajouter un boutton "Check Results" -->

    </div>
    <script>
      // TODO (question 2) Envoyer les valeurs entrées à l'endpoint /validate
      // TODO (question 4) Afficher le score du joueur
      // TODO (question 4) afficher la solution en dessous de chaque logo 
    </script>
  </body>
</html>
